@import url(./../../index.css);
.AboutSection{
    margin: 4em auto;
    max-width: 1754px;
    align-items: center;
}
.AboutHeader{
    position: relative;
    font-family: "Galada";
    margin: auto 10%;
    color: var(--color-font);
    /* display: inline-block; */
    max-width: 1754px;
    text-align: center;
    z-index: 2;
    padding-top: 0.5em;
    /* padding-bottom: 5em; */
}
.AboutHeader h2{
    font-size: 65px;
}
.AboutHeader h3{
    font-size: 50px;
}
.HeaderText {
    font-size: 40px;
    padding-bottom: 1.5em;
}
.AboutContent {
    /* padding-top: 40px; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    text-align: center;
    padding: auto 10%;
    /* grid-template-columns: 700px auto; */
    /* align-items: center; */
    /* max-width: 1754px; */
    /* padding: 0px 30px; */
}
.GetToKnow{
    font-size: 35px;
    border-right: 1px solid var(--color-font);
    padding-left: 2em;
    padding-right: 2em;
}
.GetToKnowText{
    padding-top: 20px;

}
.SkillSet{
    margin: auto 2em ;
}
.SkillsContainer{
    font-size: 35px;
    /* padding-top: 20px; */
    /* padding-left: 2em; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}
.Skill{
    padding: 0rem 1rem;
    padding-top: 3px;
    margin: 0.5rem;
    /* margin-bottom: 1.5rem;
    margin-right: 1.5rem; */
    transition: transform .2s;
    /* font-size: 1.6rem; */
    background: var(--color-secondary);
    border-radius: 10px;
    font-weight: 400;
}
.Skill:hover{
    background: var(--color-secondary-hover);
    color: var(--color-text-hover);
    transform: scale(1.2);
    cursor: default;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
/* ============ MEDIUM DEVICES ============ */
@media screen and (max-width: 1024px) {
    .AboutContent{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .GetToKnow{
        border-right: 0px;
    }
}
/* ============ SMALL DEVICES ============ */
/* @media screen and (max-width: 600px) {
    .ContactContainer{
        width: var(--container-width-sm);
    }
} */