@import url(./../../index.css);

.SocialContainer {
    position: relative;
    display: grid;
    grid-gap: 0px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    border: solid;
    border-color: var(--color-font);
    border-left: 0;
    border-right: 0;
    max-width: 1754px;
    text-align: center;
    margin: 0px auto;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
}

.Social img {
    padding: 0.5em;
    background: var(--color-secondary);
    border-radius: 10px;
    transition: transform .2s;
    z-index: -5px;
}

.Social img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}