@import url(./../../index.css);

.SocialSection {
    position: relative;
    margin: 4em auto;
    margin-bottom: 3em;
    max-width: 1754px;
    align-items: center;
}
.SocialContainer {
    
    display: grid;
    grid-gap: 0px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    border: solid;
    border-color: var(--color-font);
    border-left: 0;
    border-right: 0;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2em;
}

.Social img {
    padding: 0.5em;
    background: var(--color-secondary);
    border-radius: 10px;
    transition: transform .2s;
    z-index: -5px;
}

.Social img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}